/* COLOR SCHEME */

:root {
  --base: #FEFCF5;
  --cream: #EFE4CD;
  --cognac:#C87B43;
  --green: #BFC199;
  --pink: #FA5272;
}

/* FONT LINKS */
@font-face {
  font-family: Breadley;
  src: url("assets/BreadleySans-Regular.ttf");
  font-size: 100%;
}

@font-face {
  font-family: Nesans;
  src: url("assets/Nesans\ Semi\ Bold.ttf");
  font-size: 100%;
}

* {
  font-family: Breadley;
}

.App {
  text-align: center;
  background-color: var(--base);
}

.main {
  margin-top: 80px;
}

body {
  background-color: var(--base);
}

/* NAV BAR STYLING */

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--base);
  border-bottom: 1px solid;
  border-color: var(--pink);
}

.nav-links {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icons {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.link {
  text-decoration: none;
}

nav h3 {
  color: var(--cognac);
  margin: 0 30px;
}

nav h3:hover {
  color: var(--pink)
}

nav h1 {
  color: var(--cognac);
  font-family: Nesans;
  font-size: 2.5em;
  margin: 20px;
}

nav h1:hover {
  color: var(--pink);
}

/* HOME STYLING */

.hero-image {
  background-image:  url('./assets/hero-image.png');
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-page h1 {
  font-size: 5.5em;
  line-height: 1em;
  letter-spacing: .05em;
  color: var(--cream);
  margin: 0;
  padding-top: 40vh;
  padding-bottom: 50px;
}

.button {
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  color: var(--pink);
  border: 1px solid;
  border-color: var(--pink);
  padding: 15px 25px;
  margin: 0;
  font-size: 1.5em;
}

.button:hover {
  color: var(--pink);
  border-color: var(--pink);
}

/* TRENDING STYLING */

.trending {
  background-color: var(--base);
  margin: 0;
  height: 60vh;
}

.trending h2 {
  margin: 0;
  padding: 65px;
  font-size: 3em;
  color: var(--cognac);
}

.trending h3 {
  font-size: 2.5em;
  padding: 0px 40px;
  color: var(--base);
}

.trending h3:hover {
  color: var(--pink);
}

.category-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20%;
}

.trending-category {
  background-color: var(--green);
  width: 30%;
  height: 200px;
  margin-bottom: 50px;
  border: 2px solid;
  border-color: var(--pink);
}

/* INSTRUCTIONS STYLING */

.instructions {
  background-color: var(--green);
}

.instructions h2 {
  color: var(--cream);
  font-size: 3.5em;
  padding: 50px 0 0 0;
}

.instructions span {
  font-family: Nesans;
}

.instructions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5%;
  padding-bottom: 55px;
}

.rule {
  display: flex;
  align-items: center;
  width: 300px;
  height: 150px;
  padding: 20px;
  margin: 10px;
  background-color: var(--cream);
  border-radius: 40px;
}

.rule h3 {
  color: var(--pink);
  font-size: 3em;
  margin-bottom: 180px;
  margin-left: 10px;
}

.rule h4 {
  color: var(--pink);
  font-size: 2em;
  margin: 10px 20px;
  margin-right: 30px;
}

/* USER LOGIN */

.user-login {
  background-color: var(--pink);
  height: 40vh;
}

.user-login h2 {
  margin: 0;
  padding: 65px;
  font-size: 3em;
  color: var(--base);
}

.user-login button {
  color: var(--base);
  border-color: var(--base);
  font-size: 2em;
}

.user-login button:hover {
  background-color: var(--green)
}


/* MODAL STYLING */

.dark-overlay {
  position: fixed;
  top: 0;
  background-color: black;
  height: 100vh;
  width: 200vh;
  z-index: 3;
  opacity: 75%;
}

.modal {
  opacity: 1;
  background-color: var(--base);
  z-index: 3;
  position: fixed;
  top: 80px;
  height: 600px;
  width: 480px;
  margin: 0 33%;
  /* border: 3px solid;
  border-color: var(--pink); */
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  color: var(--pink);
  font-size: 2.5em;
  margin: 15px;
}

.close-icon {
  z-index: 4;
  position: absolute;
  top: 10px;
  right: 20px;
}

.new-user-form label{
  font-size: 1.5em;
}

.new-user-form input {
  font-size: 1.5em;
  margin: 10px;
}

.login-button {
  text-decoration: none;
  font-weight: bold;
  color: var(--base);
  background-color: var(--pink);
  font-size: .8em;
  border: 1px solid;
  border-color: var(--pink);
  padding: 5px 25px;
}

/* FOOTER STYLING */

footer {
  background-color: var(--cream);
  width: 100%;
  margin: 0;
  padding: 5px;
}

footer p {
  font-size: .5em;
  text-align: right;
  margin: 20px;
}

button {
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  color: var(--pink);
  border: 1px solid;
  border-color: var(--pink);
  padding: 15px 25px;
  margin: 30px;
}


/* ////////////////////////// CATEGORY PAGE STYLING //////////////////////////////// */

.welcome-box {
  height: 30vh;
  background-color: var(--cognac);
}

.welcome-box h1 {
  font-size: 4em;
  line-height: 1em;
  letter-spacing: .05em;
  color: var(--base);
  margin: 0 10%;
  padding: 5% 0;
}

.categories {
  height: 70vh;
}

.new-category-form {
  margin: 50px 10%; 
}

.new-category-form label{
  font-size: 2em;
}

.new-category-form input {
  font-size: 2em;
  margin: 30px;
}

.submit-button {
  text-decoration: none;
  font-weight: bold;
  color: var(--base);
  background-color: var(--pink);
  font-size: 1.5em;
  border: 1px solid;
  border-color: var(--pink);
  padding: 15px 25px;
}

.category-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.category-box {
  border: 1px solid;
  border-color: var(--pink);
  margin: 40px;
  width: 40vh;
  display: flex;
  justify-content: space-between;
}

.category-box h2 {
  color: var(--pink);
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  margin: 10px;
  padding: 10px 20px;
}

.add-icon {
  margin: 25px;
}

/* ////////////////////////// USER PAGE STYLING //////////////////////////////// */

.user-box {
  height: 30vh;
  background-color: var(--green);
}

.user-box h1 {
  font-size: 4em;
  line-height: 1em;
  letter-spacing: .05em;
  color: var(--base);
  margin: 0 10%;
  padding: 5% 0;
}

.login-container {
  height: 80vh;
}

.login-container button {
  font-size: 2em;
  padding: 20px 100px;
}

/* ////////////////////////// ABOUT PAGE STYLING //////////////////////////////// */

.about-box {
  height: 30vh;
  background-color: var(--pink);
}

.about-box h1 {
  font-size: 4em;
  line-height: 1em;
  letter-spacing: .05em;
  color: var(--base);
  margin: 0 10%;
  padding: 5% 0;
}

.about-text {
  height: 60vh;
  margin: 0 20%;
}

.about-text span {
  font-size: 1.6em;
  font-weight: bold;
  color: var(--cognac);
}

.about-text p {
  margin-top: 10%;
  font-size: 1.5em;
  border: 1px solid;
  padding: 50px 80px;
}