/* COLOR SCHEME */

:root {
  --base: #FEFCF5;
  --cream: #EFE4CD;
  --cognac:#C87B43;
  --green: #BFC199;
  --pink: #FA5272;
}

/* FONT LINKS */
@font-face {
  font-family: Breadley;
  src: url("assets/BreadleySans-Regular.ttf");
  font-size: 100%;
}

@font-face {
  font-family: Nesans;
  src: url("assets/Nesans\ Semi\ Bold.ttf");
  font-size: 100%;
}

* {
  font-family: Breadley;
}

.App {
  text-align: center;
  background-color: var(--base);
}

.main {
  margin-top: 60px;
}

body {
  background-color: var(--base);
}

/* USER LOGIN */

.user-login {
  background-color: var(--pink);
}

.user-login h2 {
  margin: 0;
  padding: 65px;
  font-size: 3em;
  color: var(--base);
}

.user-login button {
  color: var(--base);
  border-color: var(--base);
  font-size: 2em;
  margin-bottom: 50px;
}

.user-login button:hover {
  background-color: var(--green)
}


/* MODAL STYLING */

.dark-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  height: 110vh;
  width: 110vw;
  z-index: 3;
  opacity: 65%;
}

.modal {
  opacity: 1;
  background-color: var(--base);
  z-index: 3;
  position: fixed;
  top: 80px;
  height: 85vh;
  width: 90vw;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  color: var(--pink);
  font-size: 2em;
  margin: 20px;
}

.close-icon {
  z-index: 4;
  position: absolute;
  top: 10px;
  right: 20px;
}

.new-user-form label{
  font-size: 1.2em;
}

.new-user-form input {
  font-size: 1.2em;
  margin: 7px;
  width: 80%;
}

.login-button {
  text-decoration: none;
  font-weight: bold;
  color: var(--base);
  background-color: var(--pink);
  font-size: .8em;
  border: 1px solid;
  border-color: var(--pink);
  padding: 5px 25px;
}

/* FOOTER STYLING */

footer {
  background-color: var(--cream);
  width: 100%;
  margin: 0;
  margin-top: 80px;
  padding: 5px;
}

footer p {
  font-size: .5em;
  text-align: right;
  margin: 20px;
}

button {
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  color: var(--pink);
  border: 1px solid;
  border-color: var(--pink);
  padding: 15px 25px;
  margin: 30px;
}

/* ////////////////////////// ADD ITEMS STYLING //////////////////////////////// */

.add-items .modal {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 630px;
}

.add-items h2 {
  text-align: center;
  font-size: 3em;
  color: var(--pink)
}


/* ////////////////////////// ABOUT PAGE STYLING //////////////////////////////// */

.about-box {
  background-color: var(--pink);
}

.about-box h1 {
  font-size: 3em;
  line-height: 1em;
  letter-spacing: .05em;
  color: var(--base);
  margin: 0 10%;
  padding: 20px;
}

.about-text {
  margin: 0 5%;
}

.about-text span {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--cognac);
}

.about-text p {
  margin-top: 10%;
  font-size: 1em;
  border: 1px solid;
  padding: 10px 20px;
}


/* ///////////////////RESPONSIVE DESIGN //////////////////////*/

@media only screen and (min-width: 768px) {

  .about-box h1 {
    font-size: 4em;
    padding: 60px;
  }

  .about-text {
    margin: 0 20%;
  }

  .about-text span {
    font-size: 1.6em;
  }

  .about-text p {
    margin-top: 10%;
    font-size: 1.5em;
    padding: 50px 80px;
  }

  /*//////////// MODAL STYLING //////////////*/

  .modal {
    top: 80px;
    height: 600px;
    width: 480px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  }

  .modal h2 {
    font-size: 2.5em;
    margin: 15px;
  }

  .new-user-form label{
    font-size: 1.5em;
  }
  
  .new-user-form input {
    font-size: 1.5em;
    margin: 10px;
  }

}

@media only screen and (min-width: 1024px) {


.category-box {
  margin: 0 5%;
}


}